<%= render 'shared/category', user: @user, student: @student %>
	<div class="col-lg-8">
		<div class="user_info">
			<div class="user_info_text">
				<h2>生徒情報更新</h2>
			</div>
	    		<%= form_for(@student, url: student_path) do |f| %>
					<div class="container">
			   				    <div class="col-sm-8  col-sm-offset-2">
							        <div class="form-group">
				   				    		<div class="col-sm-3">
					   				    		<label>勉強する言語</label>
					   				    	</div>
					   				    	<div class="col-sm-9">
									   		    <%= nested_form_for @student do |n| %>
											        	<%= n.fields_for :language_students do |ls| %>
										        			<%= ls.collection_select :language_id, Language.all, :id, :language_name,　class: "form-control" %>
										        			<%= ls.link_to_remove "削除" %>
										        		<% end %>
										        		<%= n.link_to_add "言語追加", :language_students %>
												<% end %>
							    			</div>
					    			</div>
					    		</div>
					    		<div class="col-sm-8  col-sm-offset-2">
							        <div class="form-group">
				   				    		<div class="col-sm-3">
					   				    		<label>勉強するその他の言語</label>
					   				    	</div>
					   				    	<div class="col-sm-9">
					    						<%= f.text_field :other_language, class: "form-control", placeholder:"例:タガログ、モンゴル", style:"width:300px; margin:0 auto;"  %>
							    			</div>
					    			</div>
					    		</div>
								<div class="col-sm-8  col-sm-offset-2">
							        <div class="form-group">
				   				    		<div class="col-sm-3">
					   				    		<label>母国語</label>
					   				    	</div>
					   				    	<div class="col-sm-9">
				        						<%= f.collection_select(:first_language, Language.all, :language_name, :language_name) %>
						    				</div>
					    			</div>
					    		</div>
								<div class="col-sm-8  col-sm-offset-2">
							        <div class="form-group">
				   				    		<div class="col-sm-3">
					   				    		<label>値段 / 1h</label>
					   				    	</div>
					   				    	<div class="col-sm-9">
					        					<%= f.select :budget, {"1500円" => "1500", "2000円" => "2000", "2500円" => "2500", "3000円" => "3000", "3500円" => "3500", "4000円" => "4000", "4500円" => "4500", "5000円" => "5000"} %>
							    			</div>
					    			</div>
					    		</div>
								<div class="col-sm-8  col-sm-offset-2">
							        <div class="form-group">
				   				    		<div class="col-sm-3">
					   				    		<label>メッセージ</label>
					   				    	</div>
					   				    	<div class="col-sm-9">
												<%= f.text_area :message, class: "form-control", placeholder:"Message" %>
							    			</div>
					    			</div>
					    		</div>
								<div class="col-sm-8  col-sm-offset-2">
							        <div class="form-group">
				   				    		<div class="col-sm-3">
					   				    		<label>学びたいこと</label>
					   				    	</div>
					   				    	<div class="col-sm-9">
						    					<%= f.text_area :what_to_learn, class: "form-control" %>
								        	<%= f.hidden_field :user_id, :value => current_user.id %>
								            <%= f.submit "送信", class: "btn btn-black" %>
								           	</div>

								    </div>
					            </div>
					</div>
		        <% end %>
			</div>
		</div>
	</div>
<!-- 部分テンプレート閉じタグ -->
</div>