<%= render 'shared/category' %>
<div class="col-lg-8">
	<div class="user_info">
		<div class="user_info_text">
			<h2>基本情報登録・更新</h2>
		</div>
    		<%= form_for(@user) do |f| %>
				<div class="container">
	   				    	<div class="col-sm-8  col-sm-offset-2">
	   				    		<div class="form_group">
		   				    		<div class="col-sm-3">
			   				    		<label>あなたの画像</label>
			   				    	</div>
			   				    	<div class="col-sm-9">
					    				<%= f.attachment_field :image, style:"margin-left:135px;" %>
					    			</div>
				    			</div>
				    		</div>
	   				    	<div class="col-sm-8  col-sm-offset-2">
	   				    		<div class="form_group">
		   				    		<div class="col-sm-3">
			   				    		<label>ニックネーム</label>
			   				    	</div>
			   				    	<div class="col-sm-9">
							    		<%= f.text_field :nickname %>
					    			</div>
				    			</div>
				    		</div>
	   				    	<div class="col-sm-8  col-sm-offset-2">
	   				    		<div class="form_group">
		   				    		<div class="col-sm-3">
			   				    		<label>国</label>
			   				    	</div>
			   				    	<div class="col-sm-9">
			 					    <%= f.text_field :nationality %>
					    			</div>
				    			</div>
				    		</div>
	   				    	<div class="col-sm-8  col-sm-offset-2">
	   				    		<div class="form_group">
		   				    		<div class="col-sm-3">
			   				    		<label>性別</label>
			   				    	</div>
			   				    	<div class="col-sm-9">
			   				    	<label><%= f.radio_button :gender, "男性", class:"form-check-input" %>　男性 </label>
			   				    	<label><%= f.radio_button :gender, "女性", class:"form-check-input" %>　女性</label>
					    			</div>
				    			</div>
				    		</div>
	   				    	<div class="col-sm-8  col-sm-offset-2">
	   				    		<div class="form_group">
		   				    		<div class="col-sm-3">
			   				    		<label>年齢</label>
			   				    	</div>
			   				    	<div class="col-sm-9">
					            	<%= f.number_field :age, min:"18" %>
					    			</div>
				    			</div>
				    		</div>
	   				    	<div class="col-sm-8  col-sm-offset-2">
	   				    		<div class="form_group">
		   				    		<div class="col-sm-3">
			   				    		<label>地域</label>
			   				    	</div>
			   				    	<div class="col-sm-9">
			   				    		<%= nested_form_for @user do |n| %>
			   				    			<%= n.fields_for :user_areas do |ua| %>
			   				    				<%= ua.collection_select :area_id, Area.all, :id, :area_name %>
			   				    				<%= ua.link_to_remove "削除" %>
			   				    			<% end %>
			   				    			<%= n.link_to_add "追加", :user_areas %>
			   				    		<% end %>
						        	</div>
						        </div>
						    </div>
						    <div class="col-sm-8 col-sm-offset-2"><br>
					          <%= f.submit "送信", class: "btn btn-black" %>
					        </div>
					      </div>
				</div>
	  		<% end %>
	</div>
</div>
<!-- 部分テンプレート閉じタグ -->
</div>