<%= render 'shared/category' %>
<div class="col-lg-10">
	<div class="user_info">
		<div class="user_info_text">
		<h2><%= @user.nickname %>さんの基本情報</h2>
		</div>
		<div class="col-lg-5">
			<div class="user_img">
				<%= attachment_image_tag @user,:image %>
			</div>
		</div>
		<div class="col-lg-7">
			<table class="table table-striped">
			    <thead>
			    </thead>
			    <tbody>
			      <tr>
			        <td><h6>ニックネーム</h6></td>
			        <td><%= @user.nickname %></td>
			      </tr>
			      <tr>
			        <td>国籍</td>
			        <td><%= @user.nationality %>
			      </tr>
			      <tr>
			        <td>年齢</td>
			        <td><%= @user.age %></td>
			      </tr>
			      <tr>
			        <td>性別</td>
			        <td><%= @user.gender %></td>
			      </tr>
			      <tr>
			      	<td>地域</td>
			      	<td><% @user.user_areas.each do |u| %>
			      	 		<%= u.area.area_name %><br>
			      	 	<% end %>
			      	</td>
			    </tbody>
			 </table>
				<%= link_to edit_user_path(current_user) do %>
					<div class="btn btn-black">編集</div>
				<% end %>
		</div>
		<div class="user_info">
		<div class="user_info_text">
			登録されたユーザ情報がありません。
			<%= link_to edit_user_path do %>
			<p>ユーザ情報登録</p>
			<% end %>
		</div>
		</div>
</div>
<!-- container-fluid divタグ閉じ -->
</div>