<% if admin_signed_in? %>
	<div class="container-fluid">
	    <div class="col-lg-2">
	    	<div class="side-bar">
	    		<div class="side_logo_box">
					<%= link_to image_tag("logo_black.png", :class => 'about_logo'), admin_top_path %>
				</div>
			</div>
	    	 	<div class="category_box">
			    	<h4 style="padding-left:26px;">My Menu</h4>
			    	<ul class="category">
				    	<li class="category_list">
				    		<%= link_to "ユーザ情報", admin_users_path %>
				    	</li>
				    	<li class="category_list">
				    		<%= link_to "通報一覧", admin_reports_path %>
				    	</li>
				    	<li class="category_list">
				    		<%= link_to "ユーザメッセージ一覧", admin_messages_path %>
				    	</li>
				    	<li class="category_list">
							<%= link_to "ログアウト", destroy_admin_session_path, method: :delete%>
						</li>
				    </ul>
		    	</div>
		    	<div class="category_img">
		    		<%= image_tag("office.jpeg", :class => 'office_img') %>
		    	</div>
		</div>
<% else %>
<header>
<div class="header_bar">
  <div id="nav-drawer">
	<div class="navToggle">
    	<span></span><span></span><span></span><span>menu</span>
	</div>
	<nav class="globalMenuSp">
	    <ul>
			<li class="category_list">
	    		<%= link_to "ユーザ情報", user_path(current_user) %>
	    	</li>
	    	<li class="category_list">
	    		<%= link_to "生徒情報", student_path(current_user) %>
	   		</li>
	    	<li class="category_list">
	    		<%= link_to "先生情報", teacher_path(current_user) %>
	    	</li>
	    	<li class="category_list">
	    		<%= link_to "予約一覧", user_reservations_path(current_user) %>
	    	</li>
	    	<li class="category_list">
	    		<%= link_to "メッセージ一覧", user_rooms_path(current_user) %>
	    	</li>
	    	<li class="category_list">
	    		<%= link_to "メッセージリクエスト一覧", user_requests_path(current_user) %>
	    	</li>
	    	<li class="category_list">
				<%= link_to "ログアウト", destroy_user_session_path, method: :delete%>
			</li>
	    </ul>
	</nav>
  </div>
</div>
</header>
	<div class="container-fluid">
	    <div class="col-lg-2">
	    	<div class="side-bar">
	    		<div class="side_logo_box">
					<%= link_to image_tag("logo_black.png", :class => 'about_logo'), root_path %>
				</div>
				<%= link_to students_path do %>
					<div class="find_s_box">
						生徒を探す
					</div>
				<% end %>
				<%= link_to teachers_path do %>
					<div class="find_t_box">
						先生を探す
					</div>
				<% end %>
			</div>
	    	 	<div class="category_box">
			    	<h4 style="padding-left:26px;">My Menu</h4>
			    	<ul class="category">
				    	<li class="category_list">
				    		<%= link_to "ユーザ情報", user_path(current_user) %>
				    	</li>
				    	<li class="category_list">
				    		<%= link_to "生徒情報", student_path(current_user) %>
				   		</li>
				    	<li class="category_list">
				    		<%= link_to "先生情報", teacher_path(current_user) %>
				    	</li>
				    	<li class="category_list">
				    		<%= link_to "予約一覧", user_reservations_path(current_user) %>
				    	</li>
				    	<li class="category_list">
				    		<%= link_to "メッセージ一覧", user_rooms_path(current_user) %>
				    	</li>
				    	<li class="category_list">
				    		<%= link_to "メッセージリクエスト一覧", user_requests_path(current_user) %>
				    	</li>
				    	<li class="category_list">
							<%= link_to "ログアウト", destroy_user_session_path, method: :delete%>
						</li>
				    </ul>
		    	</div>
		    	<div class="category_img">
		    		<%= image_tag("office.jpeg", :class => 'office_img') %>
		    	</div>
		</div>
<% end %>