<%= render 'shared/category', user: @user, student: @student %>
	<div class="col-lg-8">
		<div class="user_info">
			<div class="user_info_text">
				<h2>レッスン予定</h2>
					<ul class="nav nav-tabs">
						<li><a data-toggle="tab" href="#menu1">これからのレッスン</a></li>
						<li><a data-toggle="tab" href="#menu2">終了したレッスン</a></li>
					</ul>
					<div class="tab-content">
						<div id="menu1" class="tab-pane fade in active">
							<div class="index_reservation_box">
								<h3>あなたが先生のレッスン</h3>
								<% if @teacher_reservations.present? %>
									<% @teacher_reservations.each do |tr| %>
										<ul class="reservation">
											<li class="reservation_top">
											<%= link_to student_path(tr) , style:"color:white;" do %>
												<%= tr.student.user.nickname %>さんとのレッスン</li>
											<% end %>
											<li class="reservation">
												<%= tr.time.strftime('%Y/%m/%d/%H:%M') %> START
											</li>
											<li class="reservation">
												<%= tr.detailed_place %>
											</li>
											<li class="reservation">
												<% if tr.detailed_place == tr.teacher.detailed_place_1 %>
													<%= tr.teacher.detailed_address_1 %>
												<% elsif tr.detailed_place == tr.teacher.detailed_place_2 %>
													<%= tr.teacher.detailed_address_2 %>
												<% else %>
													<%= tr.teacher.detailed_address_3 %>
												<% end %>
											</li>
										</ul>
									<% end %>
							</div>
								<% else %>
							<div class="index_reservation_box">
								<ul class="reservation">
									<li class="reservation_top">
										<p>レッスンの予定はありません</p>
									</li>
								</ul>
							</div>
								<% end %>
							<div class="index_reservation_box">
								<h3>あなたが生徒のレッスン</h3>
								<% if @student_reservations.present? %>
									<% @student_reservations.each do |sr| %>
									<ul class="reservation">
										<li class="reservation_top"><
											<%= link_to teacher_path(sr) , style:"color:white;" do %>
													<%= sr.teacher.user.nickname %>さんとのレッスン</li>
											<% end %>
											<li class="reservation">
												<%= sr.time.strftime('%Y/%m/%d/%H:%M') %> START
											</li>
											<li class="reservation">
												<%= sr.detailed_place %>
											</li>
											<li class="reservation">
												<% if sr.detailed_place == sr.teacher.detailed_place_1 %>
													<%= sr.teacher.detailed_address_1 %>
												<% elsif sr.detailed_place == sr.teacher.detailed_place_2 %>
													<%= sr.teacher.detailed_address_2 %>
												<% else %>
													<%= sr.teacher.detailed_address_3 %>
												<% end %>
											</li>
									</ul>
								<% end %>
							</div>
								<% else %>
							<div class="index_reservation_box">
								<ul class="reservation">
									<li class="reservation_top">
										<p>レッスンの予定はありません</p>
									</li>
								</ul>
							</div>
								<% end %>
							</div>
						</div>
					</div>
						<div id="menu2" class="tab-pane fade">
							<div class="index_reservation_box">
								<h3>あなたが先生の終了したレッスン</h3>
								<% if @ws_finished_reservations.present? %>
									<% @ws_finished_reservations.each do |sfr| %>
									<ul class="reservation">
										<li class="reservation_top">
											<%= sfr.teacher.user.nickname %>先生とのレッスン
										</li>
										<li class="reservation">
											<%= sfr.time.strftime('%Y/%m/%d/%H:%M') %>
										</li>
										<li class="reservation">
											<%= sfr.detailed_place %>
										</li>
										<li class="reservation">
											<% if sfr.detailed_place == sfr.teacher.detailed_place_1 %>
												<%= sfr.teacher.detailed_address_1 %>
											<% elsif sfr.detailed_place == sfr.teacher.detailed_place_2 %>
												<%= sfr.teacher.detailed_address_2 %>
											<% else %>
												<%= sfr.teacher.detailed_address_3 %>
											<% end %>
										</li>
							            <button class="btn btn-default" data-toggle="collapse" data-target="#menu>">
							            	<p style="text-align:center;">何か問題がありましたか？</p>
							            </button>
										<div id="menu" class="collapse">
											<li class="reservation">
												<%= form_for(@report, url: user_reports_path) do |f| %>
													<%= f.hidden_field :reported_user_id, value: sfr.teacher.user.id %>
													<%= f.hidden_field :user_id, value: current_user.id %>
													<%= f.select :report_reason, ["レッスンにこなかった", "レッスンでトラブルがあった", "その他"] %>
													<%= f.text_area :report_comment, class: "form-control", placeholder: "コメント" %>
												<%= f.submit "レポートを送る" %>
												<% end %>
											</li>
										</div>
									</ul>
									<% end %>
								<% else %>
									<div class="index_reservation_box">
										<ul class="reservation">
												<li class="reservation_top">
													<p>終了したレッスンはありません</p>
												</li>
										</ul>
									</div>
								<% end %>
							<div class="index_reservation_box">
								<h3>あなたが生徒の終了したレッスン</h3>
								<% if @wt_finished_reservations.present? %>
									<% @wt_finished_reservations.each do |tfr| %>
									<ul class="reservation">
										<li class="reservation_top">
											<%= tfr.teacher.user.nickname %>先生とのレッスン
										</li>
										<li class="reservation">
											<%= tfr.time.strftime('%Y/%m/%d/%H:%M') %>
										</li>
										<li class="reservation">
											<%= tfr.detailed_place %>
										</li>
										<li class="reservation">
											<% if tfr.detailed_place == tfr.teacher.detailed_place_1 %>
												<%= tfr.teacher.detailed_address_1 %>
											<% elsif tfr.detailed_place == tfr.teacher.detailed_place_2 %>
												<%= tfr.teacher.detailed_address_2 %>
											<% else %>
												<%= tfr.teacher.detailed_address_3 %>
											<% end %>
										</li>
									</ul>
									<% end %>
								<% else %>
									<div class="index_reservation_box">
										<ul class="reservation">
												<li class="reservation_top">
													<p>終了したレッスンはありません</p>
												</li>
										</ul>
									</div>
								<% end %>
							</div>
						</div>
			</div>
		</div>
	</div>
<!-- 部分テンプレート閉じタグ -->
</div>