<%= render 'shared/category', user: @user, student: @student %>
	<div class="col-lg-8">
		<div class="user_info">
			<div class="user_info_text">
				<h2>メッセージ一覧</h2>
					<ul class="nav nav-tabs">
						<li><a data-toggle="tab" href="#menu1">先生とのメッセージ</a></li>
						<li><a data-toggle="tab" href="#menu2">生徒とのメッセージ</a></li>
					</ul>
					<div class="tab-content">
						<div class="col-lg-8 col-lg-offset-2">
							<div id="menu1" class="tab-pane fade in active">
								<% @with_teacher.includes(:messages).order('messages.created_at desc').each do |rt| %>
									<div class="room_box">
										<div class="request_img">
											<%= attachment_image_tag rt.teacher.user,:image %>
										</div>
										<div class="room_text">
											<%= link_to "#{rt.teacher.user.nickname}さんとのメッセージ", room_messages_path(rt) %><br>
												<% rt.messages.each_with_index do |message, i| %>
													<% if i == rt.messages.length - 1 %>
													  <div class="message_comment">
													  	<%= message.comment %>
													  	<%= message.created_at.strftime('%Y/%m/%d') %>
													  </div>
													<% end %>
												<% end %>
										</div>
									</div>
								<% end %>
							</div>
							<div id="menu2" class="tab-pane fade">
								<% @with_student.includes(:messages).order('messages.created_at desc').each do |rs| %>
									<div class="room_box" >
										<div class="request_img">
											<%= attachment_image_tag rs.student.user,:image %>
										</div>
										<div class="room_text">
											<%= link_to "#{rs.student.user.nickname}さんとのメッセージ", room_messages_path(rs) %><br>
												<% rs.messages.each_with_index do |s, i| %>
													<% if i == rs.messages.length - 1 %>
														<div class="message_comment">
															<%= s.comment %>
															<%= s.created_at.strftime('%Y/%m/%d') %>
														</div>
													<% end %>
												<% end %>
										</div>
									</div>
								<% end %>
							</div>
						</div>
					</div>
			</div>
		</div>
	</div>
<!-- 部分テンプレート閉じタグ -->
</div>